@charset "UTF-8";

/* タブレット版 */

@media (max-width: 850px){
.page-title{
  font-size: 32px;
}

/* header */

.main-nav{
  font-size: 3rem;
  margin-top: 10px;
}

.main-nav li{
  margin: 0 10px;
}

/* home */

.home-content{
  margin-top: 50px;
}

/* 問い合わせ */

#contact .page-title{
  margin-top: 60px;
}

input[type="text"],
input[type="email"],
textarea{
  max-width: 100%;
}
}

/* モバイル版 */

@media (max-width: 500px){
  .page-title{
    font-size: 24px;
  }
  
  /* header */
  
  .main-nav{
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .main-nav li{
    margin: 0 5px;
  }
  
  /* home */
  
  .home-content{
    margin: auto;
  }
  
  /* 問い合わせ */
  
  #contact .page-title{
    margin-top: 40px;
  }
  
  input[type="text"],
  input[type="email"]{
    max-width: 100%;
  }

  textarea{
    width: 0.5;
  }
  }  


/* 共通 */

html{
  font-size: 100%;
  margin: 0;
}

body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  color: rgb(36, 44, 72);
  margin: 0;
}

html,body {
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/* header */

.main-nav{
  display: flex;
  font-size: 24px;
  list-style: none;
  font-family: "M PLUS 1p";
  padding-top: 15px;
  padding-right: 18px;
}

.main-nav li{
  width:100%;
}

.main-nav a{
  color: rgb(36, 44, 72);
}

.main-nav a:hover{
  background: rgb(36, 44, 72);
  color: aliceblue;
}

/* home */

.home-content{
  text-align: center;
  margin-top: 20%;
}

/* 見出し */

.page-title{
  font-size: 56px;
  font-family: "M PLUS 1p";
  font-weight: bold;

}

/* 背景 */

#home{
  margin: 0;
  background-image: url(imeges/home-bg.jpg);
  background-size:cover;
  background-position:50%;
  min-height: 100vh;
}

/* プロフ */

.profile{
  text-align: center;
  color: rgb(36, 44, 72);
  background-color: rgb(238, 247, 255, 0.6);
  background-size:cover;
  padding-top: 15%;
  padding-bottom: 300px;
}

.profile-title{
  font-weight: bold;
  font-family: "M PLUS 1p";
  margin-bottom: 80px;
}

.profile img{
  border-radius: 50%;
  width: auto;
  height: auto;
}

.name{
  text-align: center;
  font-weight: bold;
  font-family: "M PLUS 1p";
}

.profile p{
  font-family: "M PLUS 1p";
  width: 350px;
  font-weight: bold;
  margin: 0 auto;
}

/* 問い合わせ */

.contact{
  background-color: rgb(238, 247, 255, 0.6);
  padding-top: 5%;
  padding-bottom: 80px;
}

.contact h2{
  text-align: center;
  font-family: "M PLUS 1p";
  font-weight: bolder;
}

form div{
  margin-bottom: 14px;
  margin-left: 40px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  font-family: "M PLUS 1p";
  font-weight: bolder;
}

input[type="text"],
input[type="email"],
textarea{
  background: rgba(255,255,255,.7);
  border: 1.5px solid rgb(199, 203, 212);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 250px;
  max-width: 480px;
  height: 6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
  margin-left: 40px;
}

/* sns */

#location{
  background-color: rgb(238, 247, 255, 0.6);
  padding-top: 30px;
  border-top: 1px solid gray;
}

.sub-title{
  text-align: center;
  font-family: "M PLUS 1p";
  font-weight: bold;
}

.twitter-timeline{
  padding-top: 20px;
}

/* イラストページ */

.container{
  background-color: rgb(238, 247, 255, 0.6);
  background-size:cover;
  padding-top: 70px;
  padding-bottom: 43%;
}

.illust-page{
  display: grid;
  font-size: 80px;
  list-style: none;
  font-family: "M PLUS 1p";
  padding-top: 10px;
  grid-template-columns: (autofit, minmax(240px, 1fr));
  gap: 26px;
}

.item1{
  background-color: rgb(0, 174, 128);
  padding-right: 35px;
  padding-left: 35px;
}

.item2{
  background-color: rgb(0, 137, 195);
  padding-right: 35px;
  padding-left: 35px;
}

.illust-page a{
  color: rgb(236, 240, 255);
}

.item1:hover{
  background-color: rgb(170, 231, 218);
  padding: auto;
}

.item2:hover{
  background-color: rgb(176, 213, 230);
  padding-right: 35px;
  padding-left: 35px;
}

/* footer */

footer{
  background-color: rgb(36, 44, 72);
  background-size:cover;
  text-align: center;
  padding: 80px 0;
}

footer p{
  color: aliceblue;
  font-size: 0.875rem;
}